@import '../../common/styles/colors';

body {
  overflow: hidden;
}

button:focus, textarea:focus, input:focus{
    outline: none;
}

.btn-clear {
  background: none;
  border: none;
}

.btn-primary-color {
  color: $color_primary;
  &:hover {
    color: darken($color_primary, 10%);
  }
}

.btn-big {
  font-size: 40px;
}

.vcenter {
  vertical-align: middle;
}

.primary-color {
  color: $color_primary;
}

.ashanas-container, .sequence-container, .sequence-list-container {
  overflow: auto;
  height: 100vh;
  padding-bottom: 60px;
}

.input-no-border {
  color: #bbb;
  font-size: 20px;
  line-height: 20px;
  padding: 10px 0;
  border: none;
  text-align: center;
}

.list-group-item {
  border: none;
}
